<!doctype html>
<html>
<head>
  <title>Share Free Food</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <h1>Share Free Food</h1>
</head>
  <body>
    <ul>
        <div>
          <li>Location: 

          <select>
            <option>Jacobs</option>
            <option>Evanston</option>
            <option>Other</option>
          </select></li>
        </div>

  
      <div>
        <li>Address (Non-Jacobs locations): <input></li>
      </div>


      <div>
      <li>Food Type
        <select>
          <option>Pizza</option>
          <option>Sandwich</option>
          <option>PitaInn</option>
          <option>Chinese</option>
          <option>Other</option>
        </select></l1>
      </div>

      <div>
       <li>Quantity<input></li>
      </div>

      <div>
        <li>Dietary Notes</li>
          <table class="text-right" width="400">
            <tr>
              <td>Vegan : <input type="checkbox"></td>
              <td>Non Dairy : <input type="checkbox"></td>
              <td>Gluten Free : <input type="checkbox"></td>
            </tr>
            <tr>
              <td>Meat : <input type="checkbox"></td>
              <td>Spicy : <input type="checkbox"></td>
              <td>Nut Free : <input type="checkbox"></td>
          </table>
      </div>

      <div>
       <li>Description (Optional)<input></li>
      </div>

      <div>
        <li>Photo (Optional) <input type="file"></li>
      </div>



    </ul>

    <div class="col-md-4">
      <input class="btn btn-primary" type="submit">
    </div>
</body>
</html>