<!doctype html>
<html>
<head>
  <title>Food Forager</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Food Forager <small>Feeding Kellogg since 2013</small></h1>
        </div>
      </div>
    </div>
  </div>  


<div class = "container">
  <p>
    <button type="button" class="btn btn-success btn-lg">Share Free Food!</button>
  </p>
</div>

<div class = "row">
  <div class="col-md-9"></div>
  <div class="col-md-3">welcome, Jenn!</div>
</div>

<div class = "row">
  <div class="col-md-9"></div>
  <div class="col-md-1">
  <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash4/416994_10100774743484674_966247435_n.jpg"alt="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash4/416994_10100774743484674_966247435_n.jpg" class="img-thumbnail">
  </div>
  <div class="col-md-2"></div>
</div>
<div class = "row">
  <div class="col-md-9"></div>
  <div class="col-md-3">foraging points: 20</div>
</div>


<div class= "row">
  <table align = "center">
    <tr>
      <th><h3><strong>Instant Food Updates</strong></h3></th>
    </tr>
    <tr>
      <td>
        <div class="col-md-1"></div>
        Jacobs 101, Pizza, a lot, veg & non veg</br>
        <div class="col-md-8"></div>
        <small>&ndash;just now</small></div></td>
      <td>
        <div class="col-md-2">
         <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash4/416994_10100774743484674_966247435_n.jpg"alt="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash4/416994_10100774743484674_966247435_n.jpg" class="img-thumbnail">
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="col-md-1"></div>
        Jacobs 275, Chinese, 10 boxes, non-veg</br>
        <div class="col-md-8"></div>
        <small>&ndash;2 min ago</small></div></td>
      <td>
        <div class="col-md-2">
         <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/3148_610065446793_733944_n.jpg"alt="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/3148_610065446793_733944_n.jpg" class="img-thumbnail">
        </div>
      </td>
    </tr>

    <tr>
        <td>
          <div class="col-md-1"></div>
          Evanston, ice cream, unlimited </br>
          <div class="col-md-8"></div>
          <small>&ndash;31 min ago</small></div></td>
        <td>
          <div class="col-md-2">
           <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/17965_655993077453_8375721_n.jpg"alt="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/17965_655993077453_8375721_n.jpg" class="img-thumbnail">
          </div>
        </td>
      </tr>

  </table>
  <div class = "col-md-2"></div>
   <button type="button" class="btn btn-info">Filter Search Results</button>
  

</div>


</body>
</html>